.matrix {
    margin: 1em auto;
    font-family: Katakana;
    width: 450px;
    height: 288px;
    overflow: hidden;
    background: #000;
    background-image: -webkit-gradient(linear, 0% 90%, 0% 100%, from(rgba(0, 255, 0, 0)), to(rgba(0, 255, 0, 0.1)));
    color: rgba(0, 255, 0, .7);
    text-shadow: rgba(255, 255, 255, .8) 0px 0px 4px;
    position: relative;
}
@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fall {
    from {
        top: -250px;
    }
    to {
        top: 300px;
    }
}
.matrix span {
    position: absolute;
    top: 0;
    -webkit-transform-origin: 0%;
    -webkit-transform: rotate(90deg);
    -webkit-animation-name: fall, fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: ease-out;
    color: rgb(0, 255, 0);
    text-shadow: rgb(255, 255, 255) 0px 0px 5px;
    width: 100%;
}
